.cls-container {
	background-color: #064365 !important;
}

.table th.text-middle,
.table td.text-middle {
	vertical-align: middle;
}

#mainnav-menu ul a,
.menu-popover .sub-menu ul a {
	padding: 10px 20px 12px 35px;
}

.two-lines {
	padding-top: 0px !important;
}

.widget-header.no-image {
	min-height: inherit;
}

.img-profile-table {
	max-height: 50px !important;
}

.right-bottom-image {
	max-height: 50px;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	z-index: 100;
}

.width-100 {
	width: 100% !important;
}

.input-xs {
	height: 22px;
	padding: 2px 5px;
	font-size: 12px;
	line-height: 1.5;
}

.input-group-addon {
	cursor: pointer;
}

.input-group-addon.input-xs {
	padding: 0;
}

.input-group-btn .btn-xs {
	height: 22px !important;
}

.switchery {
	top: 5px !important;
}

.col-lg-2.text-middle {
	vertical-align: middle;
	line-height: 31px;
}

.profile-img-container {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.profile-img-container:hover > img {
	opacity: 0.5;
}

.profile-img-container:hover a {
	opacity: 1;
	top: 0;
	z-index: 500;
}

.profile-img-container:hover a span {
	top: 50%;
	position: absolute;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.profile-img-container a {
	display: block;
	position: absolute;
	top: -100%;
	opacity: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	color: inherit;
}

.chosen-container {
	margin-bottom: 0 !important;
}

.radio-inline.first {
	margin-left: 12px;
}

.popover-title {
	font-weight: bold !important;
}

.label-table {
	min-width: 6ex !important;
}