.table th.text-middle,
.table td.text-middle {
	vertical-align: middle;
}

#mainnav-menu ul a,
.menu-popover .sub-menu ul a {
	padding: 10px 20px 12px 35px;
}

.two-lines {
	padding-top: 0px !important;
}

.widget-header.no-image {
	min-height: inherit;
}